<!-- Delete Warning Modal -->
<div class="modal fade" id="accountDeleteNotificationModal_{{ pick.id }}"
     tabindex="-1" role="dialog" aria-labelledby="picklistModalLabel_{{ pick.id }}" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="picklistModalLabel_{{ pick.id }}">Delete Picklist `{{ pick.name
                    }}`?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <h3>Are you sure?</h3>
                <div class="alert alert-warning" role="alert">
                    <p>Please note that when you delete this account, all the associated deals and contacts will also be
                        deleted</p>
                    <hr>
                    <ul class="list-group text-left">
                      
                    </ul>
                    <hr>
                    <div>Please note that once deleted, the account cannot be recovered</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                <a href="{{ url_for('picklists.delete_picklist', picklist_id=pick.id) }}"
                   class="btn btn-primary">Delete Picklist</a>
            </div>
        </div>
    </div>
</div>