{% extends "layout.html" %}
    {% block content %}
<form class="form-new-picklist" method="POST">
    {{ form.hidden_tag() }} <!-- security 'csrf' token -->
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2 class="h4">{% if title %}{{title}}{% else %}No Title{% endif %}</h2>
        <div class="btn-toolbar mb-2 mb-md-0">
            {{ form.submit(class="btn btn-md btn-outline-info mr-2") }}
            <input type="reset" class="btn btn-md btn-outline-secondary mr-2" />
            <a href="{{ url_for('picklists.get_picklists_view') }}" class="btn btn-md btn-outline-secondary" role="button">
                <span data-feather="arrow-left"></span>
                  Back to List
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="form-group">
                {{ form.type.label(class="form-control-label") }}
                {% if form.type.errors %}
                    {{ form.type(class="form-control form-control-lg required is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.type.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                  {% else %}
                    {{ form.type(class="form-control required from-control-lg", placeholder="picklist type ...") }}
                  {% endif %}
            </div>
        </div>
        <div class="col-9">
            <div class="form-group">
                {{ form.name.label(class="form-control-label") }}
                {% if form.name.errors %}
                    {{ form.name(class="form-control form-control-lg required is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                  {% else %}
                    {{ form.name(class="form-control required from-control-lg", placeholder="picklist name ...") }}
                  {% endif %}
            </div>
        </div>
        <div class="col-9">
            <div class="form-group">
                {{ form.name_lang.label(class="form-control-label") }}
                {% if form.name_lang.errors %}
                    {{ form.name_lang(class="form-control form-control-lg required is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.name_lang.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                  {% else %}
                    {{ form.name_lang(class="form-control required from-control-lg", placeholder="picklist language identifier ...") }}
                  {% endif %}
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                {{ form.lang.label(class="form-control-label") }}
                {% if form.lang.errors %}
                    {{ form.lang(class="form-control form-control-lg required is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.lang.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                  {% else %}
                    {{ form.lang(class="form-control required from-control-lg", placeholder="picklist language ...") }}
                  {% endif %}
            </div>
        </div>
        
        <div class="col-4">
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="{{ form.id }}">
                    <label class="custom-control-label" for="{{ form.id }}">{{ form.is_active.label(class="form-control-label") }}</label>
                
                </div>
                
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="{{ form.id }}">
                    <label class="custom-control-label" for="{{ form.id }}">{{ form.translate.label(class="form-control-label") }}</label>
                
                </div>
                
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                {{ form.order.label(class="form-control-label") }}
                {% if form.order.errors %}
                    {{ form.order(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.order.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                  {% else %}
                    {{ form.order(class="form-control from-control-lg", placeholder="Order ...") }}
                  {% endif %}
            </div>
        </div>
    </div>
</form>
    {% endblock %}